@page
@model IndexModel
@{
    ViewData["Title"] = "درخواست ها";
}

    <table class="table table-info table-striped table-resposive table-hover">
        <thead>
            <tr>
                <td>شناسه درخواست</td>
                <td>عنوان</td>
                <td>توضیحات</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var ticket in Model.tickets)
            {
            <tr>
                <td>@ticket.Id</td>
                <td>@ticket.Title</td>
                <td>@ticket.Description</td>
            </tr>
            }
        </tbody>
    </table>
