@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

 @* <div class="row">
    <div class="col-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>UserID</td>
                    <td>Order Date</td>
                </tr>
            </thead>
            <tbody>
                @foreach(var order in Model)
                {
                    <tr>
                        <td>@order.User_Id</td>
                        <td></td>
                    </tr>
                }
   
            </tbody>
        </table>
    </div>

</div>
  *@